<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="html5/data/css/login.css">
    <link rel="stylesheet" href="html5/data/js/login.js">
</head>

<body>
    <img class="imagenlogin" src="mobile/659ad2t05ZW.png" alt="png">
    <div class="logg">
        <form method="post" action="/registro" id="login-form">
            <label for="Email">Email</label>
            <input type="email" id="email" name="email">

            <label for="nombre">nombre y apellido</label>
            <input type="name" id="name" name="fullname">

            <button type="submit" class="boton">Iniciar sesion</button>
        </form>
    </div>
</body>

</html>
