body {
    background-color: rgb(237, 200, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}



#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F7D100;
    border-radius: 5px;


}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"],
input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

